* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  border-bottom: 8px solid #969696;
}
h1 {
  margin-bottom: 32px;
  font-size: 40px;
  line-height: 0.9;
  letter-spacing: -0.5px;
}
h2 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
}
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 64px;
}
header,
section {
  margin-bottom: 96px;
}
img {
  width: 100%;
  border-radius: 12px;
}
footer {
  margin-bottom: 48px;
  font-size: 14px;
  color: #969696;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.caixa-header {
  align-self: center;
}
.texto-header {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}
.btn:link,
.btn:visited {
  background-color: #c7c7c7;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 100px;
}
.btn:hover,
.btn:active {
  background-color: #969696;
}
.btn--grande {
  padding: 16px 32px;
  font-size: 18px;
}

/* FEATURES */
.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}
.features-icon {
  color: #087;
  width: 32px;
  height: 32px;
  margin-bottom: 23px;
}
.features-title {
  margin-bottom: 16px;
  font-size: 20px;
}
.features-text {
  font-size: 18px;
  line-height: 1.7;
}
