/* CORES: #001f3f #e0e0e0 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  color: #001f3f;
  border-bottom: 8px solid #969696;
  background: #e0e0e0;
}
h1 {
  margin-bottom: 32px;
  font-size: 40px;
  line-height: 0.9;
  letter-spacing: -0.5px;
}
h2 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
}
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 64px;
}
header,
section {
  margin-bottom: 96px;
}
img {
  width: 100%;
  border-radius: 12px;
}
footer {
  margin-bottom: 48px;
  margin-top: 48px;
  font-size: 14px;
  color: #001f3f;
}
/* HEADER  */
.container {
  width: 960px;
  margin: 0 auto;
}
.caixa-header {
  align-self: center;
}
.texto-header {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}
.btn:link,
.btn:visited {
  background-color: #c7c7c7;
  text-decoration: none;
  color: #001f3f;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 100px;
}
.btn:hover,
.btn:active {
  background-color: #969696;
}
.btn--grande {
  padding: 16px 32px;
  font-size: 18px;
}
/* FEATURES */
.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}
.features-icon {
  color: #001f3f;
  width: 32px;
  height: 32px;
  margin-bottom: 23px;
}
.features-title {
  margin-bottom: 16px;
  font-size: 20px;
}
.features-text {
  font-size: 18px;
  line-height: 1.7;
}
/* CAROULSEL CONTAINER */
/* .car-container {
  position: relative;
  overflow: hidden;
  width: 960px;
  height: 400px;
  min-height: 400px;
}
.testimonial-section {
  background-color: #969696;
  color: #343a40;
  padding: 24px;
  border-radius: 12px;
}
.testimonial-box {
  grid-column: 2/-1;
  align-self: center;
}
.testimonial-box h2 {
  margin-bottom: 24px;
  font-size: 24px;
  text-align: center;
}
.testimonial-text {
  font-style: italic;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
  color: #001f3f;
  text-align: space;
}
.testimonial-author {
  color: #001f3f;
  text-align: center;
}
/* CAROULSEL SLIDE  */
/* .car-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
} */
/*
.car-slide.active {
  opacity: 1;
}

.car-slide img {
  display: block;
  width: 100%;
  height: auto;
}

.carousel-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  margin-bottom: 96px;

}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.indicator.active {
  background-color: #555;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  pointer-events: none;
}

.prev-button,
.next-button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
  pointer-events: all;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.prev-button:hover,
.next-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev-button:focus,
.next-button:focus {
  outline: 2px solid #fff;
}*/

/* ITEMS  */
.items {
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.items img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.item-box {
  padding: 32px;
}
h3 {
  margin-bottom: 24px;
  font-size: 20px;
}
.item-details {
  list-style: none;
  margin-bottom: 48px;
}
.item-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}
.item-details li :last-child {
  margin-bottom: 0;
}
.item-icon {
  width: 24px;
  height: 24px;
}
.item-price {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
}
/* ACCORDION  */
.accordion {
  line-height: 1;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.item {
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
  cursor: pointer;
}
.number,
.text {
  font-size: 24px;
  font-weight: 500;
}
.number {
  color: #a1a1a1;
}
.icon {
  width: 24px;
  height: 23px;
}
.hidden-box {
  grid-column: 2;
  display: none;
}
.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}
.hidden-box ul {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.open {
  border-top: 4px solid #001f3f;
}
.open .hidden-box {
  display: block;
}
.open .number,
.open .text {
  color: #001f3f;
}
