:root {
  --color-primary: #202020;
  --color-secondary: #e0e0e0;
  --color-hover: #969696;
  --font-size-large: 40px;
  --font-size-medium: 36px;
  --font-size-small: 18px;
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--color-primary);
  border-bottom: 8px solid var(--color-hover);
  background: var(--color-secondary);
}

h1 {
  margin-bottom: 32px;
  font-size: var(--font-size-large);
  line-height: 0.9;
  letter-spacing: -0.5px;
}

h2 {
  margin-bottom: 48px;
  font-size: var(--font-size-medium);
  letter-spacing: -0.5px;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  /* margin-top: 64px; */
}

header,
section {
  margin-bottom: 96px;
}

.img-crop {
  width: 100%;
  border-radius: 12px;
  border-bottom-left-radius: 12px;
}

footer {
  margin: 48px 0;
  font-size: 14px;
  color: var(--color-primary);
}

/* LOGO  */
.logo img {
  height: 40px;
}
.logo {
  margin-right: auto;
  cursor: pointer;
}

/* Navegação */
nav {
  background-color: #333;
}

/* Navegação */
nav {
  background-color: #333;
}

nav .container {
  display: flex;
  justify-content: space-between; /* Ajusta o alinhamento para space-between */
  align-items: center; /* Centraliza verticalmente */
  position: relative;
  z-index: 10; /* Garante que a navegação esteja acima do cabeçalho */
}

.nav-list {
  list-style-type: none;
  display: flex; /* Garante a exibição em fila */
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
}

.nav-item a:hover {
  background-color: #575757;
  border-radius: 4px;
}
/* Navegação */
nav .container {
  display: flex;
  justify-content: space-between; /* Ajusta o alinhamento para space-between */
  align-items: center; /* Centraliza verticalmente */
  position: relative;
  z-index: 10; /* Garante que a navegação esteja acima do cabeçalho */
}

.nav-list {
  list-style-type: none;
  display: flex; /* Garante a exibição em fila */
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
}

.nav-item a:hover {
  background-color: #575757;
  border-radius: 4px;
}

/* HEADER */
.container {
  width: 65%;
  margin: 0 auto;
}

header {
  background-image: url("assets/OR.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh; /* Ajuste a altura conforme necessário */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Cor do texto para contraste */
  text-align: center; /* Centraliza o texto */
  padding: 0 20px; /* Adiciona algum padding para evitar que o texto encoste nas bordas */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1; /* Certifica-se de que o cabeçalho esteja abaixo do menu */
}

.caixa-header {
  background: rgba(
    0,
    0,
    0,
    0.6
  ); /* Fundo semitransparente para melhorar a legibilidade */
  padding: 40px;
  border-radius: 12px;
  max-width: 800px; /* Limita a largura máxima do texto para uma melhor legibilidade */
}

.caixa-header h1 {
  font-size: 2.5rem; /* Ajuste o tamanho da fonte do título */
  margin-bottom: 20px; /* Espaçamento abaixo do título */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Sombra no texto para melhorar a legibilidade */
}

.caixa-header .texto-header {
  margin-bottom: 24px;
  font-size: 1.25rem; /* Ajuste o tamanho da fonte do texto */
  line-height: 1.6;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); /* Sombra no texto para melhorar a legibilidade */
}

.btn1:link,
.btn1:visited {
  background-color: #c7c7c7;
  text-decoration: none;
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 100px;
  /* padding: 16px 32px; */
  /* font-size: 1rem; */
  transition: background-color 0.3s ease;
}

.btn1:hover,
.btn1:active {
  background-color: var(--color-hover);
}

/* Adicionando estilos adicionais aos botões para melhor aparência */
.btn1 {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Sombra nos botões */
}

.btn--grande {
  padding: 16px 32px;
  font-size: var(--font-size-small);
}

.btn--small {
  font-size: 14px;
  padding: 8px 12px;
}

/* FEATURES */
.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

.features-icon {
  color: var(--color-primary);
  width: 32px;
  height: 32px;
  margin-bottom: 23px;
}

.features-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.features-text {
  font-size: var(--font-size-small);
  line-height: 1.7;
}

/* CAROUSEL */
.carousel {
  background-color: var(--color-secondary);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  /* width: 800px; */
  margin: 100px auto;
  border-radius: 8px;
  padding: 32px 48px 32px 86px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 86px;
}

.carousel-image {
  height: 200px;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.testimonial-text {
  font-size: var(--font-size-small);
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
}

.testimonial-author {
  font-size: 14px;
  margin-bottom: 4px;
}

.testimonial-job {
  font-size: 12px;
}

/* BUTTONS */
.btn {
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn--right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.btn-icon {
  height: 24px;
  width: 24px;
  stroke: var(--color-primary);
}

.dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 32px);
  bottom: 0;
  display: flex;
  gap: 12px;
}

.dot {
  height: 12px;
  width: 12px;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
}

.dot--fill {
  background-color: var(--color-primary);
}

/* ITEMS */
.items {
  border-radius: 20px;
  background: var(--color-secondary);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.items img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.item-box {
  padding: 32px;
}

h3 {
  margin-bottom: 24px;
  font-size: 20px;
}

.item-details {
  list-style: none;
  margin-bottom: 48px;
}

.item-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.item-details li:last-child {
  margin-bottom: 0;
}

.item-icon {
  width: 24px;
  height: 24px;
}

.item-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.item-value {
  font-size: 24px;
  font-weight: 700;
}

.price-text {
  color: var(--color-hover);
}

/* FAQs */

/* ACCORDION */
.accordion {
  line-height: 1;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  border-radius: 20px;
  background: var(--color-secondary);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
  cursor: pointer;
}

.number,
.text {
  font-size: 24px;
  font-weight: 500;
}

.number {
  color: var(--color-hover);
}

.icon {
  width: 24px;
  height: 23px;
}

.hidden-box {
  grid-column: 2;
  display: none;
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.hidden-box ul {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.open {
  border-top: 4px solid var(--color-primary);
}

.open .hidden-box {
  display: block;
}

.open .number,
.open .text {
  color: var(--color-primary);
}
/* HAMBURGER MENU */
.hamburger-menu {
  display: none; /* Oculta o ícone em telas maiores */
}

@media only screen and (max-width: 768px) {
  /* Adicione aqui os estilos específicos para dispositivos com largura de tela até 768 pixels */
  .container {
    width: 85%; /* Ajuste a largura do container conforme necessário */
  }

  header {
    height: 70vh; /* Ajuste a altura do cabeçalho para dispositivos móveis */
  }

  .caixa-header {
    padding: 20px; /* Reduza o padding para dispositivos móveis */
  }

  .carousel {
    flex-direction: column; /* Altere a direção do flex para exibir o conteúdo do carrossel verticalmente */
    padding: 32px; /* Reduza o padding para dispositivos móveis */
  }

  .carousel-image {
    height: auto; /* Permita que a altura da imagem se ajuste automaticamente para dispositivos móveis */
    width: 100%; /* Ajuste a largura da imagem para preencher a largura do contêiner */
    transform: none; /* Resetar a transformação da imagem */
    margin-bottom: 20px; /* Ajuste o espaçamento inferior da imagem */
  }

  .grid-3-cols {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* column-gap: 80px; */
  }

  .items {
    border-radius: 24px;
    background: var(--color-secondary);
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    margin-top: 20px;
  }

  .prodts {
    margin-top: 44px;
  }

  /* Esconder a navegação regular e exibir o menu hambúrguer */
  .nav-list {
    display: none;
  }

  .hamburger-menu {
    display: block; /* Mostra o ícone apenas em telas menores */
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
  }

  .hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: rgb(66, 66, 66);
    margin: 5px;
    transition: 0.4s;
  }

  .change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .change .bar:nth-child(2) {
    opacity: 0;
  }

  .change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  /* Exibir a navegação em lista quando o menu hamburguer estiver ativado */
  .nav-list.active {
    display: flex;
    flex-direction: column;
    background-color: rgba(51, 51, 51, 0.9);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
  }

  .nav-item {
    margin: 10px 0;
  }
  /* Exibir a navegação em lista quando o menu hambúrguer estiver ativado */
  .nav-list.active {
    display: flex;
    flex-direction: column;
    background-color: rgba(155, 155, 155, 0.8); /* Fundo semitransparente */
    backdrop-filter: blur(10px); /* Efeito de desfoque */
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    z-index: 9998; /* Garante que a lista de navegação esteja acima do cabeçalho */
  }

  .nav-item {
    margin: 10px 0;
  }

  .nav-item a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  /* Adicione aqui os estilos específicos para dispositivos com largura de tela até 480 pixels */
  header {
    height: 50vh; /* Ajuste a altura do cabeçalho para dispositivos móveis menores */
  }

  .caixa-header h1 {
    font-size: 2rem; /* Reduza o tamanho da fonte do título para dispositivos móveis menores */
  }

  .caixa-header .texto-header {
    font-size: 1rem; /* Reduza o tamanho da fonte do texto para dispositivos móveis menores */
  }

  .btn--grande {
    padding: 8px 16px;
    font-size: 1rem;
  }
}
